TWELVE_DATA_API_KEY=your_twelve_data_api_key
TWELVE_DATA_QUOTE_CACHE_SECONDS=300
TWELVE_DATA_FUNDAMENTALS_CACHE_SECONDS=86400
TWELVE_DATA_STATS_CONCURRENCY=4
TWELVE_DATA_STATISTICS_REFRESH_LIMIT=1
TWELVE_DATA_EARNINGS_REFRESH_LIMIT=1
